@tailwind base;
@tailwind components;
@tailwind utilities;





.head-link {
  /* color: rgba(33, 37, 41, .94118);
    border-radius: 0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #d5d5d5;
    background: transparent;
    padding: 0;
    text-decoration: none; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  /* color: #1D202C; */
  width: auto;
}

.help .help-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help {
  margin-left: 5px;
  cursor: help;
}

.help-inner {

  /* background-color: #d6d6d6; */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: .7rem;
  color: #fff;
  /* background: rgba(131, 137, 150, 1); */
  background: linear-gradient(210deg, #00eaff 0%, #0080ff 25%, #8000ff 50%, #e619e6 75%, #f00 100%);


}

.help-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-name {
  flex: 1;
  justify-content: flex-start;
}

.col-dau,
.col-tx {
  /* text-align: right; */
  padding: 0 10px;
}

/* .inset-y-0 {
    top: 21px !important;
    bottom: 0px;
  } */

.col-dau {
  width: 130px;
}

.component-ranking-table-dau-head {
  display: flex;
  justify-content: flex-end;
}

.col-tx {
  width: 125px;
}

.component-ranking-table-tx-head {
  display: flex;
  justify-content: center;
}


.col-vol,
.col-rewards {
  width: 150px;
  text-align: right;
  padding: 0 10px;
}

.component-ranking-table-volume-head {
  display: flex;
  justify-content: center;
}

.p-rank {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height, or 257% */

  letter-spacing: 0.01em;

  color: #1D202C;
}

.component-ranking-table-volume-head {
  display: flex;
  justify-content: flex-end;
}

.component-ranking-table-rewards-head {
  display: flex;
  justify-content: center;
}


.component-ranking-table-rank {
  font-weight: 700;
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.past-rank {
  font-size: .8rem;
  display: flex;
  text-align: center;
  font-weight: 500;
}

.table-header .table-rows {
  min-height: 22px;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  margin-bottom: 0;
  cursor: auto;
}

.table-rows {
  /* background: #fbfbff; */
  border-radius: 4px;
  /* box-shadow: 0 0 10px rgba(51, 51, 51, .05); */
  margin-bottom: 12px;
  /* padding-right: 15px; */
  min-height: 80px;
  /* display: flex; */
  flex-flow: row nowrap;
  /* cursor: pointer; */
}


.custom-wrapper {
  min-height: 100vh;
  max-height: 100%;
}

.col-rank {
  width: 50px;
  margin-right: 12px !important;
  /* background: hsla(0, 0%, 92.5%, .12941); */
}

.table-data {
  margin: 0;
  /* text-align: inherit; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

/* Toggle */
input:checked~.dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.icon-list {
  list-style-image: url('/images/bullet-point.png');
  list-style-position: outside;
}
.icon-list > li > p{
  margin-left: 1rem;
}
/* input#tag {
  background-image: url("/images/tags.png");
  background-size:contain;
  background-repeat: no-repeat;
}

input#tag:focus {
  background-image:none;
} */

/* .table-data.col-rewards, .table-data.col-vol, .table-data.col-tx {
    margin: 0;
    text-align: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
  } */

/* .component-ranking-table-rank {
    font-weight: 600;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .component-ranking-table-name {
    padding: 5px 0;
    display: flex;
    text-align: left;
    margin-right: 10px;
    justify-content: left;
    align-items: center;
    flex-flow: row;
  } */
.bgImg-with-gradient {
  background-image: linear-gradient(69.82deg, #334155 11.4%, rgba(0, 0, 0, 0) 134.54%), url('../public/images/top-right-img-small-1.png');
  /* opacity: 0.5; */
}

.bgImg2-with-gradient {
  background-image: linear-gradient(69.82deg, #334155 11.4%, rgba(0, 0, 0, 0) 134.54%), url('../public/images/top-right-img-small-2.png');
  /* opacity: 0.5; */
}
.bgImg3-with-gradient {
  background-image: linear-gradient(69.82deg, #000000 7.4%, rgba(0, 0, 0, 0) 96.54%), url('../public/images/homePgGoldBarWCoins.png');
}
.concave {
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.button.primary {
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 8px 8px 16px #cbcbcb, -8px -8px 16px #ffffff;
}

.button.primary:hover {
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 12px 12px 24px #cbcbcb, -12px -12px 24px #ffffff;
}

.button.primary:focus {
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 12px 12px 24px #cbcbcb, -12px -12px 24px #ffffff;
}

.button.primary:active {
  background: linear-gradient(145deg, #d7d7d7, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.concave-dark {
  background: linear-gradient(80deg, #1f1f1f, #2d2d2d);
  ;
  box-shadow: 4px 4px 8px #2d2d2d, -4px -4px 8px #1f1f1f;
  border: 2px solid #2d2d2d;
}

.concave-dark:hover {
  background: linear-gradient(80deg, #2d2d2d, #1f1f1f);
  box-shadow: 12px 8px 24px #2d2d2d, -12px -12px 16px #1f1f1f;
}

.concave-dark:focus {
  background: linear-gradient(80deg, #2d2d2d, #1f1f1f);
  box-shadow: 12px 8px 24px #2d2d2d, -12px -12px 16px #1f1f1f;
}

.concave-dark:active {
  background: linear-gradient(80deg, #2d2d2d, #1f1f1f);
  box-shadow: 4px 4px 8px #2d2d2d, -4px -4px 8px #1f1f1f;
}

/* Share Icons CSS */
.share-link>button {
  width: 100%;
}

.text-stroke {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #94a3b8;
}